.divoltis{
    h1{
        font-size: 1.8rem;
        padding-left: .8rem;
        font-weight: 600;
    }
    content{
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;

        -webkit-flex-flow: row wrap;
        flex-flow: row wrap;
        justify-content: space-between;
        section{
            flex: 0 66.66%;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            @media #{$mq-tablet-h} {
                flex: 0 100%;
            }
            article{
                padding: .8rem;
                width: 50%;
                @media #{$mq-mobile-h} {
                    width: 100%;
                }
                figure{
                    max-height: 205px;
                    overflow: hidden;
                    margin-bottom: 10px;
                    @media #{$mq-mobile-h} {
                        max-height: inherit;
                    }
                }
                h2{
                    text-transform: uppercase;
                    color: $cor_um;
                    font-weight: $bold;
                    font-size: 1rem;
                }
                p{
                    padding-bottom: 2rem;
                    border-bottom: 1px solid #dcd9d9;
                }
            }
        }
        aside{
            display: block;
            flex: 0 33.33%;
            padding: 1rem 3rem;
            @media #{$mq-tablet-h} {
                display: none;
            }
        }

    }

}
