footer{
    background-color: $cor_tres;
    margin-top: 50px;
    .bt-topo{
        width: 100%;
        background: $cor_um url(../img/arrowUp.svg) 99% center no-repeat;
        background-size: 30px;
        padding: .5rem;
        color: white;
        text-align: right;
        padding-right: 55px;
        text-transform: uppercase;
        @media #{$mq-mobile-h} {
            padding: 1rem;
            padding-right: 55px;
            font-size: 1.2rem;
        }
    }
    content{
        padding: 1rem;
        align-items: center;
        display: flex;
        width: 1260px;
        margin: 0 auto;
        @media #{$mq-desktop} {
            width: 90%;
        }
        @media #{$mq-mobile-h} {
            width: 95%;
        }
        figure{
            flex: 0 13%;
            margin: 0 auto;
            @media #{$mq-desktop} {
                flex: 0 10%;
                padding-right: 10px;
            }
            @media #{$mq-mobile-h} {
                display: none;
            }
        }
        .texto{
            flex: 0 71%;
            padding-right: 10rem;
            @media #{$mq-desktop} {
                flex: 0 90%;
                padding-right: 0;
            }
            p{
                color: white;
                font-size: .8rem;
                @media #{$mq-mobile-h} {
                    font-size: 1rem;
                }
                a{
                    color: white;
                    text-decoration: underline;
                }
            }
            @media #{$mq-mobile-h} {
                flex: 0 100%;
            }

        }

    }
}
