header{
    background-color: $cor_um;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;

    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
    justify-content: space-between;
    padding-top: 1rem;
    .logo{
        @media #{$mq-tablet} {
            margin: 0 auto;
        }
        img{
            vertical-align: middle;
            margin-right: 10px;
            @media #{$mq-mobile-h} {
                margin-right: 0;
                margin-left: -50px;
            }
        }
        small{
            vertical-align: middle;
            color: white;
            font-size: 1rem;
            @media #{$mq-tablet} {
                display: none;
            }
        }
    }
    .menu{
        flex: 0 10%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        @media #{$mq-tablet-h} {
            flex: 0 15%;
        }
        @media #{$mq-mobile-h} {
            flex: 0 20%;
        }
        a{
            margin: 0 auto;
        }
    }
    .social-media{
        flex: 0 20%;
        display: flex;
        align-items: center;
        @media #{$mq-tablet-h} {
            flex: 0 15%;
        }
        @media #{$mq-tablet} {
            display: none;
        }
        a{
            display: inline-block;
            width: 80px;
            padding: .5rem;
            background-color: white;
            background-repeat: no-repeat;
            background-position: 5px center;
            background-size: 25px;
            border-radius: 7px;
            margin: 5px;
            text-decoration: inherit;
            padding-left: 30px;
            font-weight: 600;
            font-size: .7rem;
            text-transform: uppercase;
            &.bt-face{
                background-image: url(../img/face.svg);
                color: #36528f;
            }
            &.bt-twitter{
                background-image: url(../img/twitter.svg);
                color: #00adf2;
            }
            @media #{$mq-tablet-h} {
                overflow: hidden;
                width: 30px;
                text-indent: 1000px;
                background-position: 7px center;
            }
        }
    }
}
