.highlight{
    h1{
        font-size: 1.8rem;
        padding-left: .8rem;
        font-weight: 600;
        @media #{$mq-mobile-h} {
            font-size: 2rem;
        }
    }
    content{
        flex-direction: row;
        display: flex;
        @media #{$mq-mobile-h} {
            flex-direction:column;
        }
        article{
            padding: .8rem;
            width: 33.33%;
            @media #{$mq-mobile-h} {
                width: 100%;
            }
        }
        figure{
            figcaption{
                background: rgba(219, 96, 81, 0.7);
                color: white;
                font-weight: $regular;
                padding: .5rem 1rem;
                text-transform: uppercase;
                position: absolute;
                bottom: 25px;
                left: 0;
                @media #{$mq-mobile-h} {
                    font-size: 1.2rem;
                }
            }
        }
    }

}
