.paisis{
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;

    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
    justify-content: space-between;

    content{
        flex: 0 33.33%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        padding: .8rem;
        @media #{$mq-tablet-h} {
            flex: 0 50%;
        }
        @media #{$mq-mobile-h} {
            flex: 0 100%;
        }
        h1{
            font-size: 1.5rem;
            font-weight: 600;
            color:$cor_dois;
        }
        article{
            display: flex;
            flex: 0 100%;
            margin: 10px 0;
            figure{width: 40%;}
            .texto{
                width: 60%;
                padding: .8rem;
                h2{
                    color:$cor_dois;
                    padding-bottom: .8rem;
                    font-size: .9rem;
                    font-weight: 600;
                    text-transform: uppercase;
                }
                p{
                    font-size: 100%;
                    @media #{$mq-mobile-h} {
                        font-size: 1.2rem;
                    }
                }
            }

        }
        &:first-child{
            h1{color: $cor_um;}
            article{
                border-bottom: 1px solid #dcd9d9;
                padding: .5rem 0;
                margin: 0;
                align-items: center;
                @media #{$mq-mobile-h} {
                    font-size: 1.2rem;
                    padding: 1rem 0;
                }
            }
        }

    }
    aside{
        display: none;
        @media #{$mq-tablet-h} {
            flex: 0 50%;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            padding: .8rem;

        }
        @media #{$mq-mobile-h} {
            flex: 0 100%;
            margin: 50px 0;
        }
    }
}
