html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    font-size: 100%;
    vertical-align: baseline;
    outline: none;
}

html,
body {
    font-family: 'Open Sans';
    font-weight: 400;
    margin: 0;
    height: 100%;
    line-height: 1;
    background-color: #ecf0f1;
    position: relative;
}

body {
    font-weight: 300;
    color: #2c3e50;
    padding: 0;
    text-rendering: optimizeLegibility;
    -webkit-font-kerning: normal;
    -moz-font-kerning: normal;
    font-kerning: normal;
    font-size: 14px;
    line-height: 1.5;
    overflow-x: hidden;
}

hr {
    width: 20%;
    border: 0;
    height: 1px;
    margin: 0px auto;
    background-color: rgba(255, 255, 255, 0.2);
    margin: 1rem 0;
}

* {
    box-shadow: 0 2px 5px 0 transparent, 0 2px 10px 0 transparent !important;
    background-repeat: no-repeat;
    position: relative;
    -webkit-font-smoothing: antialiased;
}

*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

p {
    font-size: 1rem;
}

@media (max-width: 600px) {
    p {
        font-size: 1.2rem;
    }
}

strong {
    font-weight: 700;
}

main {
    width: 1200px;
    margin: 0 auto;
}

@media (max-width: 1200px) {
    main {
        width: 90%;
    }
}

@media (max-width: 600px) {
    main {
        width: 95%;
    }
}

section {
    padding: 1rem 0;
}

@media (max-width: 600px) {
    section {
        padding: .5rem 0;
    }
}

article a {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1;
}

article img {
    width: 100%;
}

.publicidade {
    align-self: center;
    margin: 0 auto;
}

.publicidade img {
    width: 100%;
    max-width: 300px;
}

.publicidade small {
    text-align: right;
    display: block;
}

.divoltis h1 {
    font-size: 1.8rem;
    padding-left: .8rem;
    font-weight: 600;
}

.divoltis content {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
    justify-content: space-between;
}

.divoltis content section {
    flex: 0 66.66%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

@media (max-width: 992px) {
    .divoltis content section {
        flex: 0 100%;
    }
}

.divoltis content section article {
    padding: .8rem;
    width: 50%;
}

@media (max-width: 600px) {
    .divoltis content section article {
        width: 100%;
    }
}

.divoltis content section article figure {
    max-height: 205px;
    overflow: hidden;
    margin-bottom: 10px;
}

@media (max-width: 600px) {
    .divoltis content section article figure {
        max-height: inherit;
    }
}

.divoltis content section article h2 {
    text-transform: uppercase;
    color: #3498db;
    font-weight: 700;
    font-size: 1rem;
}

.divoltis content section article p {
    padding-bottom: 2rem;
    border-bottom: 1px solid #dcd9d9;
}

.divoltis content aside {
    display: block;
    flex: 0 33.33%;
    padding: 1rem 3rem;
}

@media (max-width: 992px) {
    .divoltis content aside {
        display: none;
    }
}

footer {
    background-color: #2c3e50;
    margin-top: 50px;
}

footer .bt-topo {
    width: 100%;
    background: #3498db url(../img/arrowUp.svg) 99% center no-repeat;
    background-size: 30px;
    padding: .5rem;
    color: white;
    text-align: right;
    padding-right: 55px;
    text-transform: uppercase;
}

@media (max-width: 600px) {
    footer .bt-topo {
        padding: 1rem;
        padding-right: 55px;
        font-size: 1.2rem;
    }
}

footer content {
    padding: 1rem;
    align-items: center;
    display: flex;
    width: 1260px;
    margin: 0 auto;
}

@media (max-width: 1200px) {
    footer content {
        width: 90%;
    }
}

@media (max-width: 600px) {
    footer content {
        width: 95%;
    }
}

footer content figure {
    flex: 0 13%;
    margin: 0 auto;
}

@media (max-width: 1200px) {
    footer content figure {
        flex: 0 10%;
        padding-right: 10px;
    }
}

@media (max-width: 600px) {
    footer content figure {
        display: none;
    }
}

footer content .texto {
    flex: 0 71%;
    padding-right: 10rem;
}

@media (max-width: 1200px) {
    footer content .texto {
        flex: 0 90%;
        padding-right: 0;
    }
}

footer content .texto p {
    color: white;
    font-size: .8rem;
}

@media (max-width: 600px) {
    footer content .texto p {
        font-size: 1rem;
    }
}

footer content .texto p a {
    color: white;
    text-decoration: underline;
}

@media (max-width: 600px) {
    footer content .texto {
        flex: 0 100%;
    }
}

header {
    background-color: #3498db;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
    justify-content: space-between;
    padding-top: 1rem;
}

@media (max-width: 760px) {
    header .logo {
        margin: 0 auto;
    }
}

header .logo img {
    vertical-align: middle;
    margin-right: 10px;
}

@media (max-width: 600px) {
    header .logo img {
        margin-right: 0;
        margin-left: -50px;
    }
}

header .logo small {
    vertical-align: middle;
    color: white;
    font-size: 1rem;
}

@media (max-width: 760px) {
    header .logo small {
        display: none;
    }
}

header .menu {
    flex: 0 10%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

@media (max-width: 992px) {
    header .menu {
        flex: 0 15%;
    }
}

@media (max-width: 600px) {
    header .menu {
        flex: 0 20%;
    }
}

header .menu a {
    margin: 0 auto;
}

header .social-media {
    flex: 0 20%;
    display: flex;
    align-items: center;
}

@media (max-width: 992px) {
    header .social-media {
        flex: 0 15%;
    }
}

@media (max-width: 760px) {
    header .social-media {
        display: none;
    }
}

header .social-media a {
    display: inline-block;
    width: 80px;
    padding: .5rem;
    background-color: white;
    background-repeat: no-repeat;
    background-position: 5px center;
    background-size: 25px;
    border-radius: 7px;
    margin: 5px;
    text-decoration: inherit;
    padding-left: 30px;
    font-weight: 600;
    font-size: .7rem;
    text-transform: uppercase;
}

header .social-media a.bt-face {
    background-image: url(../img/face.svg);
    color: #36528f;
}

header .social-media a.bt-twitter {
    background-image: url(../img/twitter.svg);
    color: #00adf2;
}

@media (max-width: 992px) {
    header .social-media a {
        overflow: hidden;
        width: 30px;
        text-indent: 1000px;
        background-position: 7px center;
    }
}

.highlight h1 {
    font-size: 1.8rem;
    padding-left: .8rem;
    font-weight: 600;
}

@media (max-width: 600px) {
    .highlight h1 {
        font-size: 2rem;
    }
}

.highlight content {
    flex-direction: row;
    display: flex;
}

@media (max-width: 600px) {
    .highlight content {
        flex-direction: column;
    }
}

.highlight content article {
    padding: .8rem;
    width: 33.33%;
}

@media (max-width: 600px) {
    .highlight content article {
        width: 100%;
    }
}

.highlight content figure figcaption {
    background: rgba(219, 96, 81, 0.7);
    color: white;
    font-weight: 400;
    padding: .5rem 1rem;
    text-transform: uppercase;
    position: absolute;
    bottom: 25px;
    left: 0;
}

@media (max-width: 600px) {
    .highlight content figure figcaption {
        font-size: 1.2rem;
    }
}

.paisis {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
    justify-content: space-between;
}

.paisis content {
    flex: 0 33.33%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: .8rem;
}

@media (max-width: 992px) {
    .paisis content {
        flex: 0 50%;
    }
}

@media (max-width: 600px) {
    .paisis content {
        flex: 0 100%;
    }
}

.paisis content h1 {
    font-size: 1.5rem;
    font-weight: 600;
    color: #db6051;
}

.paisis content article {
    display: flex;
    flex: 0 100%;
    margin: 10px 0;
}

.paisis content article figure {
    width: 40%;
}

.paisis content article .texto {
    width: 60%;
    padding: .8rem;
}

.paisis content article .texto h2 {
    color: #db6051;
    padding-bottom: .8rem;
    font-size: .9rem;
    font-weight: 600;
    text-transform: uppercase;
}

.paisis content article .texto p {
    font-size: 100%;
}

@media (max-width: 600px) {
    .paisis content article .texto p {
        font-size: 1.2rem;
    }
}

.paisis content:first-child h1 {
    color: #3498db;
}

.paisis content:first-child article {
    border-bottom: 1px solid #dcd9d9;
    padding: .5rem 0;
    margin: 0;
    align-items: center;
}

@media (max-width: 600px) {
    .paisis content:first-child article {
        font-size: 1.2rem;
        padding: 1rem 0;
    }
}

.paisis aside {
    display: none;
}

@media (max-width: 992px) {
    .paisis aside {
        flex: 0 50%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        padding: .8rem;
    }
}

@media (max-width: 600px) {
    .paisis aside {
        flex: 0 100%;
        margin: 50px 0;
    }
}

.slider {
    width: 100%;
    height: auto;
    padding: .8rem;
    margin: 4rem 0;
    position: relative;
}

@media (max-width: 992px) {
    .slider {
        padding: 0;
    }
}

@media (max-width: 600px) {
    .slider {
        margin: 1rem 0;
    }
}

.slider .slide {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
}

.slider .slide img {
    width: 100%;
}

.slider .slide .texto {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 2rem;
}

@media (max-width: 600px) {
    .slider .slide .texto {
        position: inherit;
        margin-top: -100px;
    }
}

.slider .slide .texto h1 {
    background-color: #3498db;
    padding: .5rem 1rem;
    color: white;
    margin-bottom: 10px;
    font-size: 1rem;
    font-weight: 600;
    text-transform: uppercase;
    display: inline-block;
}

@media (max-width: 600px) {
    .slider .slide .texto h1 {
        margin-bottom: 50px;
    }
}

.slider .slide .texto p {
    color: white;
    font-size: 1.5rem;
    font-weight: 600;
}

@media (max-width: 600px) {
    .slider .slide .texto p {
        color: #2c3e50;
    }
}

.slider .arrow {
    position: absolute;
    top: 50%;
    margin-top: -25px;
    width: 100%;
}

@media (max-width: 992px) {
    .slider .arrow {
        display: none;
    }
}

.slider .arrow div {
    background-color: white;
    background-position: center;
    background-size: 20px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    position: absolute;
}

.slider .arrow div.arrow-left {
    background-image: url(../img/desktop/arrow_left-icon.png);
    left: -25px;
}

.slider .arrow div.arrow-right {
    background-image: url(../img/desktop/arrow_right-icon.png);
    right: 0;
}

.slider .dots {
    margin: 10px auto;
    text-align: center;
}

.slider .dots .dot {
    width: 10px;
    height: 10px;
    background-color: grey;
    border-radius: 50px;
    display: inline-block;
    margin: 5px;
}

.slider .dots .dot.active {
    background-color: #3498db;
}
