html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    font-size: 100%;
    vertical-align: baseline;
    outline:none;
}
html, body{
    font-family: 'Open Sans';
    font-weight: $regular;
    margin:0;
    height: 100%;
    line-height: 1;
    background-color: #ecf0f1;
    position: relative;
}
body{
    font-weight: 300;
    color: $cor_tres;
    padding: 0;
    text-rendering: optimizeLegibility;
    -webkit-font-kerning: normal;
    -moz-font-kerning: normal;
    font-kerning: normal;
    font-size: 14px;
    line-height: 1.5;
    overflow-x: hidden;
}

hr{
    width: 20%;
    border: 0;
    height: 1px;
    margin: 0px auto;
    background-color: rgba(255, 255, 255, 0.2);
    margin: 1rem 0;
}

* {
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0),0 2px 10px 0 rgba(0,0,0,0) !important;
    background-repeat: no-repeat;
    position: relative;
    -webkit-font-smoothing: antialiased;
}

*, *:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

p{
    font-size: 1rem;
    @media #{$mq-mobile-h} {
        font-size: 1.2rem;
    }
}
strong{
    font-weight: $bold;
}
main{
    width: 1200px;
    margin: 0 auto;
    @media #{$mq-desktop} {
       width: 90%;
    }
    @media #{$mq-mobile-h} {
        width: 95%;
    }
}
section{
    padding: 1rem 0;
    @media #{$mq-mobile-h} {
        padding: .5rem 0;
    }
}
article{
    a{
        width: 100%;
        height: 100%;
        position: absolute;
        z-index: 1;
    }
    img{width: 100%;}
}
.publicidade{
    align-self: center;
    margin: 0 auto;
    img{
        width: 100%;
        max-width: 300px;
    }
    small{
        text-align: right;
        display: block;
    }
}
