@mixin box-img($largura: 300px, $altura:auto){
    height: $altura;
    width: $largura;
}

@mixin caixa-alta{text-transform: uppercase;}


@mixin transicao{
    -webkit-transition: all .2s linear;
    transition: all .2s linear;
}


