//Cores
$cor_um:#3498db;
$cor_dois:#db6051;
$cor_tres:#2c3e50;

//Fonts
$regular:400;
$light:300;
$bold:700;
$semibold:600;
$extrabold:800;

//Media Queries
$mq-mobile:"(max-width:400px)";
$mq-mobile-h:"(max-width:600px)";
$mq-tablet:"(max-width:760px)";
$mq-tablet-h:"(max-width:992px)";
$mq-desktop:"(max-width:1200px)";

$mq-height-q:"(max-height:500px)";
$mq-height-s:"(max-height:600px)";
$mq-height-st:"(max-height:700px)";
$mq-height-o:"(min-height:800px)";
