.slider{
    width: 100%;
    height: auto;
    padding: .8rem;
    margin: 4rem 0;
    position: relative;
    @media #{$mq-tablet-h} {
        padding: 0;
    }
    @media #{$mq-mobile-h} {
        margin:1rem 0;
    }
    .slide{
        width: 100%;
        height: 100%;
        background-size: cover;
        background-position: center;
        img{width: 100%;}
        .texto{
            position: absolute;
            bottom: 0;
            left: 0;
            padding: 2rem;
            @media #{$mq-mobile-h} {
                position: inherit;
                margin-top: -100px;
            }
            h1{
                background-color:$cor_um;
                padding: .5rem 1rem;
                color:white;
                margin-bottom: 10px;
                font-size: 1rem;
                font-weight: $semibold;
                text-transform: uppercase;
                display: inline-block;
                @media #{$mq-mobile-h} {
                    margin-bottom: 50px;
                }
            }
            p{
                color: white;
                font-size: 1.5rem;
                font-weight: $semibold;
                @media #{$mq-mobile-h} {
                    color:$cor_tres;
                }
            }
        }

    }
    .arrow{
        position: absolute;
        top: 50%;
        margin-top: -25px;
        width: 100%;
        @media #{$mq-tablet-h} {
            display: none;
        }
        div{
            background-color:white;
            background-position: center;
            background-size: 20px;
            width: 50px;
            height: 50px;
            border-radius:50%;
            position: absolute;
            &.arrow-left{
                background-image: url(../img/desktop/arrow_left-icon.png);
                left: -25px;
            }
            &.arrow-right{
                background-image: url(../img/desktop/arrow_right-icon.png);
                right: 0;
            }
        }
    }
    .dots{
        margin: 10px auto;
        text-align: center;
        .dot{
            width: 10px;
            height: 10px;
            background-color: grey;
            border-radius: 50px;
            display: inline-block;
            margin: 5px;
            &.active{
                background-color: $cor_um;
            }
        }
    }
}
